body {
    background-color: blanchedalmond;
    font-size: 20px;
    padding: 0;
    margin: 0 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#clear-chat-btn:hover {
    background-color: rgba(192, 196, 238, 0.3);
}

#clear-chat-btn {
    width: 20%;
    border-radius: 5px;
}

#chatbox-form button:hover {
    background-color: rgba(192, 196, 238, 0.3);
}

#chatbox-form button {
    font-size: 20px;
    border-radius: 5px;
}

#chatbox-form input {
    margin-left: 10px;
    font-size: 20px;
    padding-left: 5px;
    border-radius: 5px;
}

#chatbox-form {
    margin-top: 10px;
    margin-bottom: 10px;
}

#msg-container {
    background-color: burlywood;
    margin-top: 10px;
    margin-bottom: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
    width: 69vw;
    height: 69vh;
    max-width: 1200px;
    overflow-y: scroll;
    border-radius: 3px;
}

#msg-container div {
    border-radius: 5px;
}

.userList:hover {
    background: rgba(156, 160, 156, 0.8);
}

.userList {
    position: absolute;
    right: 2%;
    top: 2%;
    width: 300px;
    height: auto;
    padding-left: 15px;
    border-radius: 15px;
    background: rgba(114, 98, 91, 0.8);
    border: 8px solid rgba(191, 218, 128, 0.9);
    font-size: 1.1em;
    max-height: 80vh;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: rgba(114, 98, 91, 0.1);
}

::-webkit-scrollbar-thumb {
    background: rgba(12, 18, 26, 0.3);
}

::-webkit-scrollbar-thumb:hover {
    background: #39CCCC;
}

span {
    font-size: 14px;
}
.help-info{
    position: absolute;
    bottom: 1vh;
    left: 2vw;
    padding: 0;
}