body {
    background-color: blanchedalmond;
    font-size: 20px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#clear-chat-btn {
    width: 20%;
}

#chatbox-form button {
    font-size: 20px;
}

#chatbox-form input {
    margin-left: 10px;
    font-size: 20px;
    padding-left: 5px;
}

#chatbox-form {
    margin-top: 10px;
    margin-bottom: 10px;
}

#msg-container {
    background-color: burlywood;
    margin-top: 1px;
    margin-bottom: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
    width: 69vw;
    height: 69vh;
    max-width: 1200px;
    overflow-y: scroll;
}

#msg-container div {
    border-radius: 5px;
}

.userList {
    position: absolute;
    right: 2%;
    top: 2%;
    width: 300px;
    height: auto;
    background-color: gray;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: rgba(12, 18, 26, 0.3);
}

::-webkit-scrollbar-thumb:hover {
    background: #39CCCC;
}

span {
    font-size: 14px;
}